*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
.Calculator{
  background-color: blueviolet;
  margin:20px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;

}
.Display{
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 2rem;
  width: 500px;
  border-radius: 10px;
  text-align: end;
  font-weight: 700;
}
.buttons{
  background-color:rgb(192, 166, 226);
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.numbers{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  margin-left: 10px;
}
.box{
  background-color: white;
  color: black;
  border: none;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}
#box0{
  grid-column: 2;

}
.Operators{
  background-color: black;
  display: grid;
  grid-template-columns: 100px ;
  grid-template-rows: 80px 80px 80px 80px 80px;
  margin-right: 10px;
  border-radius: 10px;
}